@import "../../scss/common.scss";

.Header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "subreddit search logo";
}

.subreddit {
    grid-area: subreddit;
    margin: auto 2rem;
}

.login {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    p {
        color: map-get($theme-colors, "orange");
        font-size: 1.5rem;
        margin: auto 0;
        margin-right: 1rem;
    }

    button {
        background-color: map-get($theme-colors, "danger");
        padding: 5px;
        border: none;
        border-radius: 5px;
        color: map-get($theme-colors, "light");

        &:hover {
            cursor: pointer;
            background-color: map-get($theme-colors, "orange");
        }
    }
}

.search {
    grid-area: search;
    width: 100%;
}

.logo {
    grid-area: logo;
    text-align: right;
    margin: auto 0;
}

.navbarButton {
    grid-area: navbarButton;
    display: none;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-left: 8rem;
    justify-self: flex-end;
    background-color: map-get($theme-colors, "secondary");
    width: 345.078px;
}

.colored {
    color: map-get($theme-colors, "orange");
}

.icon {
    fill: map-get($theme-colors, "orange");
}

.navbarList {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    background-color: map-get($theme-colors, "primary");
    max-height: calc(100vh - 6rem);
    overflow: auto;
}

.disabled {
    display: none;
}

.visible {
    display: block;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: auto;
    width: 4rem;

    img {
        border-radius: 50%;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .Header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo navbarButton" "search search" "subreddit subreddit";
        width: 100%;
        margin: 0;
        padding: 10px;
        position: fixed;
        background-color: map-get($theme-colors, "primary");
    }

    .navbarButton {
        display: block;
        align-self: center;
        justify-self: end;
        width: 2.5rem;
        padding: auto;
        border-radius: 5px;
    }

    .navbarButton:hover {
        cursor: pointer;
        background-color: map-get($theme-colors, "primary");
    }

    .logo {
        text-align: left;
    }

    .logoContainer {
        background-color: transparent;
        width: 100%;
        margin-left: 0;
    }
}
