@import "../../scss/common.scss";

.Header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "subreddit search logo";
    margin: 2rem;
}

.subreddit {
    grid-area: subreddit;
    margin: auto 0;
}

.search {
    grid-area: search;
    width: 100%;
}

.logo {
    grid-area: logo;
    text-align: right;
    margin: auto 0;
}

.navbarButton {
    grid-area: navbarButton;
    visibility: hidden;
}

.logoContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.colored {
    color: map-get($theme-colors, "info");
}

.icon {
    fill: map-get($theme-colors, "info");
}

.navbarList {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    background-color: map-get($theme-colors, "primary");
}

.disabled {
    display: none;
}

.visible {
    display: block;
}

@media screen and (max-width: 768px) {
    .Header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo navbarButton" "search search" "subreddit subreddit";
    }

    .navbarButton {
        visibility: visible;
        align-self: center;
        justify-self: end;
        width: 2.5rem;
        padding: auto;
        border-radius: 5px;
    }

    .navbarButton:hover {
        cursor: pointer;
        background-color: map-get($theme-colors, "primary");
    }

    .logo {
        text-align: left;
    }
}
