.HomePage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.postList {
}

.nav {
    width: 50%;
}

.disabled {
    display: none;
}

.visible {
    display: block;
}
