.HomePage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.postList {
    flex: 8 1 auto;
    height: 100%;
}

.nav {
    flex: 1 1 auto;
    justify-self: flex-start;
    height: 100%;
}

.disabled {
    display: none;
}

.visible {
    //display: block;
}
