@import "../../scss/common.scss";

.NavBarTile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    background-color: map-get($theme-colors, "light");
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(map-get($theme-colors, "dark"), 0.2);

    &:hover {
        background-color: map-get($theme-colors, "secondary");
        color: map-get($theme-colors, "light");
        cursor: pointer;
        .NavBarTile__text {
            color: map-get($theme-colors, "light");
        }
    }
}
a {
    text-decoration: none;
}

.NavBarTile__icon {
    margin-right: 10px;
    width: 5rem;
    height: auto;
    aspect-ratio: 1/1;
    background-color: map-get($theme-colors, "orange");
    border-radius: 50%;
}

.NavBarTile__text {
    font-size: 1.8rem;
    color: map-get($theme-colors, "dark");
    text-decoration: none;
}
